# Data types in python

## Numbers

### integers

In [9]:
1+2 # addition

3

In [11]:
2-1 # subtraction

1

In [6]:
2*2 # multiplication

4

In [7]:
3/2 # division

1.5

In [12]:
3//2 # division with integer as a result

1

In [14]:
7%4 # mod operator -> returns a remainder -> can be useful if i want to check if a number is even or not

3

In [15]:
2**3 # this is a power operator -> this will give you 2^3 which is 8

8

In [18]:
2 + 100 / 0.5 * (3 +10)
#it fllows BODMAS rule from mathematics
# B => brackets
# O => order of power
# D => division
# M => multiplication
# A => addition
# S => subtraction

2602.0

In [19]:
# what if we wanted to store the values that we are getting?
# for that we use variable
# Rules for creating variables
# 1. they cannot start with a number.
# 2. they don't have spaces in between them.
# 3. they cannot be symbols => :@!"Â£$%^&*()_-+'*/ etc.
# 4. they cannot be keywords.

ans = 2 + 100 / 0.5 * (3 +10)

In [26]:
print(ans)

ans + ans

2602.0

5204.0

In [21]:
# you can dinamically change the type of data variable
# in other languages something like this would give an error
# int a = 0;
# a= "hello"
# however in python this is totaly fine

a = 0 # notice thta i am not using the keyword int

In [24]:
print(type(a)) # type() is a function which we will learn later
a

<class 'int'>

0

In [25]:
a = "hello"
print(type(a))
a

<class 'str'>

'hello'

### floating ploints

In [29]:
#floating point are nothing but decimal number
a = 3.5
print(a)

3.5

### Strings

In [31]:
# strings are sequence of characters using the syntax of either single quotes('') or double quotes("")
# strings are orderd sequences so we can use indexing or slicing
# index starts at zero
# for example
#     character: h  e  l  l  o
#         index: 0  1  2  3  4
# reverse index: 0 -4 -3 -2 -1

my_string1 = "Hi! this is a string"
my_string2 = 'Hi! this is a string'

# the reson you would want to use both single quotes('') or double quotes("") is that you can have strings like
my_string3 = "don't"

In [46]:
# index
print(my_string1[0])
print(my_string1[1])
print(my_string1[2])
print(my_string1[3])
print(my_string1[-1])

H
i
!

g

In [38]:
# slicing
# if i wanted to get a part of my string for example 'this' from my_string1
print(my_string1[4:7])
print(my_string1[4:8])
print(my_string1[4:8:1])
print(my_string1[4:8:2])
a=4
print(my_string1[a:8])
# syntac =>  <variable name>[start_pos:end_pos:step_size]

thi
this
this
ti
this

In [42]:
# reverse a string
# we know that string starts at 0 and goes till the end
# also we know about reverse indexing
my_string1[::-1]

'gnirts a si siht !iH'

In [44]:
# escape sequence
print("hello \nworld")

hello
world

In [45]:
# get length of string
len(my_string1)

20

In [47]:
# Strings are immutable -> you cannot reassign data to a string
# So this is invalid
my_string1[0] = p

NameError: name 'p' is not defined

In [51]:
# this is not
my_string1 = "a"
my_string1

'a'

In [52]:
# concatination
"I " + my_string1 + "m"

'I am'

In [53]:
# you can multiply string
my_string1*10

'aaaaaaaaaa'

In [56]:
# cannot concatinate different datatypes
print("2"+"3")

#print(1+"1")

23

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [68]:
my_string2 = "hi! this is a string"
my_string2.capitalize()

'Hi! this is a string'

In [69]:
my_string2.capitalize

In [70]:
help(my_string2.capitalize)

Help on built-in function capitalize:

capitalize() method of builtins.str instance
    Return a capitalized version of the string.

    More specifically, make the first character have upper case and the rest lower
    case.

In [71]:
print(my_string2.upper())
print(my_string2.lower())
print(my_string2.split())
print(my_string2.split("i"))

HI! THIS IS A STRING
hi! this is a string
['hi!', 'this', 'is', 'a', 'string']
['h', '! th', 's ', 's a str', 'ng']

In [84]:
# string formats
a="fox"
b="quick"
c="brown"

# we have already seen concatination -> +
# now we will look at .format() and f-strings (formatted string literals)

"the {}".format(a)
"the {}".format(b)
"the {}".format(c)


"the {} {} {}".format('fox','quick','brown')
"the {1} {1} {1}".format('fox','quick','brown')
"the {1} {2} {0}".format('fox','quick','brown')

"the {b} {c} {a}".format(a='fox',b='quick',c='brown')

result = 22/7

"the result is {x:10.5f}".format(x=result) # syntax -> value:width.precision f

'the result is    3.14286'

In [82]:
f"the {a}"

'the fox'

### Boolean

In [5]:
# these can be either True or False
# True and False are keyword, so always keep the first letter capital
a= True

In [6]:
print(a)
type(a)

True

bool

In [7]:
a = False

In [8]:
print(a)
type(a)

False

bool

# Print

In [9]:
print("hello world")

hello world

# Input

In [10]:
a = input("Enter something: ")
print(a)
type(a)

Enter something: 5
5

str

In [11]:
a = int(input("Enter an integer: "))
print(a)
type(a)

Enter an integer: 55
55

int

In [13]:
a = float(input("Enter a Floating point number: "))
print(a)
type(a)

Enter a Floating point number: 5
5.0

float

In [16]:
a = list(input("Enter something: ")) # try entering hello
print(a)
type(a)

Enter something: hello
['h', 'e', 'l', 'l', 'o']

list